<template name="HomeLayout">

  {{> Header}}

  <p>
    Keep track of your most wanted releases in one place!
  </p>

  <!-- <p>
      Pick items from your wantlist that you REALLY want, <br>
      get notifications when a new copy is listed for sale
  </p> -->

  <button id="discogs_login">
    <div id="login_div1">Login with</div><div id="login_div2">
    <img src="https://s.discogs.com/images/discogs-white.png?5"></div>
  </button>

  <img src='/ajax-loader.gif' id='logging-gif' style="opacity: 0;">

  {{> Footer}}
</template>
